[Unit]
Description=WSL SSH-Agent Relay Bridge Service
After=network.target

[Service]
Type=forking
RemainAfterExit=true
# Replace with the full path to your script
ExecStart=/bin/bash /etc/1password-ssh-agent/agent-bridge.sh
Restart=always
RestartSec=5
User=<replace_me_with_username>
Environment="NPIPE_RELAY_EXE=<replace_me_to_npipe_relay_exe_dir>"

[Install]
WantedBy=multi-user.target